@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: #fff !important;
}


body {
    background-color: #2B4C7E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #2B4C7E;
    font-weight: bold;
    padding-top: 20px;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.navbar-brand {
    margin-left: 50px;
    padding-top: 20px;
}

.nav-item {
    margin-right: 40px;
}

.entrar {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.section-one {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
}

.img-section-one {
    margin-left: 50px;
}

.img-section-one img {
    width: 400px;
    position: relative;
}

.img-section-one h2 {
    position: static;
}

.section-two {
    width: 100%;
    height: 500px;
    background-image: url(/TelasFintech/img/onda1.png);
    background-size: auto;
    display: flex;
    justify-content: center;
    color: #2B4C7E !important;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}


h2 {
    color: #2B4C7E !important;
    margin-top: 30px;
    font-weight: 600;
}

.itens-funcionalidade{
    display: flex;
}

.item-funcionalidade {
    box-sizing: border-box;
    width: 100px;
    height: 140px;
    border: 3px solid #2B4C7E;
    box-shadow: 0px 0px 5px 1px #2B4C7E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.item-funcionalidade:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.item-funcionalidade img{
    height: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item p{
    color: #2B4C7E !important;
    font-weight: 600;
    font-size: 12px;
    margin-top: -30px;
    text-align: center;
}

.section-tree h3{
    font-weight: 700;
    text-align: center;
    margin: 80px 0px 50px 0px;
}

.sobre-nos-informacoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-nos-informacoes img{
    width: 350px;
    margin: 0px 40px 0px 40px;
}

.section-four{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-four h3{
    color: #2B4C7E !important;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.formulario-contato{
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.image-contato img{
    width: 500px;
}

input{
    background-color: #D9D9D9;
    border: none;
    margin: 5px;
    height: 50px;
    width: 400px;
}

footer{
    height: 300px;
}

input::placeholder{
    padding: 10px;
}

#mensagem{
    height: 100px;
}

button{
    background-color: #2B4C7E;
    width: 400px;
    height: 50px;
    border: none;
    color: #fff;
    margin-bottom: 50px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

i{
    color: #D9D9D9;
    font-size: 40px;
    margin: 30px;
}

.nome-author{
    margin-top: -50px;
}

.footerInformações button{
    background-color: transparent;
    width: 180px;
    height: 15px;
    font-size: 15px;
}

.modal-body p{
    color: black !important;
    font-weight:400;
}

.modal-body p b{
    color: black !important;
}

.modal-header h5{
    color: black !important;
    font-weight: bolder;
}